<template>
  <div>
    <beautiful-chat
      :participants="participants"
      :title-image-url="titleImageUrl"
      :on-message-was-sent="onMessageWasSent"
      :message-list="messageList"
      :new-messages-count="newMessagesCount"
      :is-open="isChatOpen"
      :close="closeChat"
      :icons="icons"
      :open="openChat"
      :show-emoji="false"
      :show-file="false"
      :show-typing-indicator="showTypingIndicator"
      :colors="colors"
      :always-scroll-to-bottom="false"
      :message-styling="true"
      @onType="handleOnType"
      @edit="editMessage"
    />
  </div>
</template>

<script>
import axios from 'axios'
import CloseIcon from 'vue-beautiful-chat/src/assets/close-icon.png'
import OpenIcon from 'vue-beautiful-chat/src/assets/logo-no-bg.svg'
import FileIcon from 'vue-beautiful-chat/src/assets/file.svg'
import CloseIconSvg from 'vue-beautiful-chat/src/assets/close.svg'
    
export default {
props: ['user'],
data() {
    return {
      messageList: [
      ],
      newMessagesCount: 0,
      showTypingIndicator: '', // when set to a value matching the participant.id it shows the typing indicator for the specific user
      participants: [
        {
          id: 'user1',
          name: 'Support'
        }
      ],
      icons: {
        open: {
          img: OpenIcon,
          name: 'default'
        },
        close: {
          img: CloseIcon,
          name: 'default'
        },
        file: {
          img: FileIcon,
          name: 'default'
        },
        closeSvg: {
          img: CloseIconSvg,
          name: 'default'
        }
      },
      colors: {
        header: {
          bg: '#4e8cff',
          text: '#ffffff'
        },
        launcher: {
          bg: '#4e8cff'
        },
        messageList: {
          bg: '#ffffff'
        },
        sentMessage: {
          bg: '#4e8cff',
          text: '#ffffff'
        },
        receivedMessage: {
          bg: '#eaeaea',
          text: '#222222'
        },
        userInput: {
          bg: '#f4f7f9',
          text: '#565867'
        }
      },
      isChatOpen: false
    }
},
mounted() {
  console.log(this.user);
Echo.private('group.' + this.user.id)
  .listen('MessageSentEvent', (e) => {
      console.log(e);
      this.messageList.push({
          type: 'text',
          author: 'support',
          data: {
            text: e.message.message
          }
      })
  })
},
methods: {
    onMessageWasSent (message) {
      console.log(message)
      axios.post('/messages', {message: message.data.text}).then(response => {
            console.log(response)
        }).catch(err => {
            console.log(err)
        })
      this.messageList = [ ...this.messageList, message ]
    },
    openChat () {
        this.isChatOpen = true
        this.newMessagesCount = 0
    },
    closeChat () {
        this.isChatOpen = false
    },
    handleOnType () {
        console.log('Emit typing event')
    },
    editMessage(message){
        const m = this.messageList.find(m=>m.id === message.id);
        m.isEdited = true;
        m.data.text = message.data.text;
    }
}
}
</script>